body {
    background-color: #eceff1;
    font-family: verdana;
    margin: auto;
}

h1, h2, h3 {
    margin: 6px;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

p {
    margin: 6px;
    font-size: 16px;
}

label {
    font-family: verdana;
    font-size: 12;
}

.code {
    font-family: verdana;
}

.warning {
    color: #ff0000;
    font-weight: bold;
}

.warning {
    color: #ff0000;
    font-weight: bold;
}

.warning {
    color: #ff0000;
    font-weight: bold;
}

.warning {
    color: #ff0000;
    font-weight: bold;
}

.warning {
    color: #ff0000;
    font-weight: bold;
}

.info:hover {
    cursor: help;
    text-decoration: underline;
}

.menuBar {
    background-color: #aaaaaa;
    border: 1px solid #000000;
    margin: 10 10 10 10;
    position: fixed;
    width: 100%;
}