{{ template "header.tmpl" }}
<h1>{{ .title }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus sed viverra tellus in hac habitasse platea dictumst. Convallis posuere morbi leo urna molestie at. Sit amet nulla facilisi morbi tempus iaculis. Leo integer malesuada nunc vel risus commodo viverra. Purus viverra accumsan in nisl nisi. Enim ut tellus elementum sagittis vitae et leo duis ut. Mauris sit amet massa vitae tortor condimentum. Suspendisse potenti nullam ac tortor vitae. Neque vitae tempus quam pellentesque. Id donec ultrices tincidunt arcu non sodales neque sodales. Vel pharetra vel turpis nunc eget lorem. Interdum velit laoreet id donec ultrices. Magnis dis parturient montes nascetur ridiculus. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Bibendum arcu vitae elementum curabitur vitae nunc sed velit.</p>
<a href="https://github.com/VCHSRobots/EPIC-Scouting">Github</a>
<a href="https://www.epicrobotz.org">Team website</a>
</body>
{{ template "footer.tmpl" }}