{{template "header" .HeaderData}}
<h1>dashboard</h1>
<p>Welcome, {{.Username}}!</p>
<p><a href="/profile">View your profile</a></p>
{{if .SysAdmin}}
<p><a href="/sysadmin"><i>Super Secret Sysadmin Bunker</i></a>
{{end}}
<p><a href="/logout">Logout</a></p>
<a href="/scout?type=match">Match Scouting</a><br>
<a href="/scout?type=pit">Pit Scouting</a><br>
<a href="/data">Data</a>
{{template "footer"}}