{{template "header" .HeaderData}}
<h1>dashboard</h1>
<p>Welcome, {{.Username}}!</p>
<p><a href="/profile">View your profile</a></p>
<p>Your teams:</p>
<select>
{{/* Use range to populate field. If empty, redirect from /dashboard to /join */}}
    <option value="teamID-goes-here">4415 - EPIC Robotz</option> {{/* TODO: TEMP */}}
</select>
<p><a href="/teamJoin"><i>Join another team</i></a></p>
<a href="/scout?type=match">Match Scouting</a>
<a href="/scout?type=pit">Pit Scouting</a>
<a href="/data">Data</a>
{{template "footer"}}