{{template "header" .HeaderData}}
<p>Scouting Data</p>
<button onClick="showGraph('graph', '/getGraph')">Show Graph</button>
<img id="graph"></img>
<script src="js/graphs.js"></script>
{{template "footer"}}