{{template "header" .HeaderData}}
<script src="js/papaparse.js"></script>
<script src="js/data.js"></script>
{{if .none}}
<h1>Data</h1>
<a href="/data?display=match">Match Data</a>
<a href="/data?display=teamprofile">Team Profile</a>
<a href="/data?display=team">Team Data</a> 
{{end}}
{{if .MatchData}}
<h1>Match Data</h1>
<table>
    <tr>
        <th>Match #</th>
        <th>Teams</th>
        <th>Red Score</th>
        <th>Blue Score</th>
        <th>Winner</th>
    </tr>
</table>
{{end}}
{{if .TeamOverall}}
<h1>Team Data</h1>
<select onchange="changeSortMethod()">
<option value="Overall">Overall</option>
<option value="Auto">Auto</option>
<option value="Shooting">Shooting</option>
<option value="ColorWheel">Color Wheel</option>
<option value="Fouls">Fouls</option>
</select>
<table id="teamdata">
    <tr>
        <th>Overall</th>
        <th>Autonomous</th>
        <th>Shooting</th>
        <th>Color Wheel</th>
        <th>Climbing</th>
        <th>Fouls</th>
    </tr>
</table>
<script src="js/loaddata.js"></script>
{{end}}
{{if .TeamProfile}}
<h1>Team Profile<h1>
<h2>Robot Image<h2>
<img id="robot"></img>
<h2>Average Scores</h2>
<p id="overall">{{.Overall}}</p>
<p id="auto">{{.Auto}}</p>
<p id="shooting">{{.Shooting}}</p>
<p id="colorwheel">{{.ColorWheel}}</p>
<p id="climbing">{{.Climbing}}</p>
<p id="fouls">{{.Fouls}}</p>
<h2>Graphs</h2>
<h2>Pit Scout Data</h2>
<p id="cycletime">Cycle Time: {{.Cycle}}</p>
<p id="notes">{{.Notes}}</p>
<h2>Match Comments</h2>
<p id="matchcomments">{{.Comments}}</p>
{{end}}
{{template "footer"}}