{{template "header" .HeaderData}}
<script src="js/papaparse.js"></script>
<script src="js/data.js"></script>
{{if .none}}
<h1>Data</h1>
<a href="/data?display=match">Match Data</a>
<a href="/data?display=teamprofile">Team Profile</a>
<a href="/data?display=team">Team Data</a> 
{{end}}
{{if .MatchData}}
<h1>Match Data</h1>
<select id="datasort" onChange="sortMatchTableBy('datasort')">
<option value="Match #">Match #</option>
<option value="Red Score" selected="selected">Red Score</option>
<option value="Blue Score">Blue Score</option>
<option value="Auto Points">Auto Points</option>
<option value="Shooting Points">Shooting Points</option>
<option value="Color Wheel Points">Color Wheel Points</option>
</select>
<table id="matchdata">
    <tr>
        <th>Match #</th>
        <th>Red Teams</th>
        <th>Blue Teams</th>
        <th>Red Fuel</th>
        <th>Blue Fuel</th>
        <th>Red Shield</th>
        <th>Blue Shield</th>
        <th>Red Climbs</th>
        <th>Blue Climbs</th>
        <th>Red RP</th>
        <th>Blue RP</th>
        <th>Red Score</th>
        <th>Blue Score</th>
        <th>Winner</th>
    </tr>
</table>
{{end}}
{{if .TeamOverall}}
<h1>Team Data</h1>
<select id="datasort" onChange="sortTeamTableBy('datasort')">
<option value="Team">Team</option>
<option value="Overall" selected="selected">Overall</option>
<option value="Auto">Auto</option>
<option value="Shooting">Shooting</option>
<option value="ColorWheel">Color Wheel</option>
<option value="Fouls">Fouls</option>
</select>
<table id="teamdata">
    <tr>
        <th>Team</th>
        <th>Overall</th>
        <th>Autonomous</th>
        <th>Shooting</th>
        <th>Color Wheel</th>
        <th>Climbing</th>
        <th>Fouls</th>
    </tr>
</table>
{{end}}
{{if .TeamProfile}}
<h1>Team Profile<h1>
<form onSubmit="">
    <p>Search for Team</p><input type="field" name="team" id="team"><br>
    <input type="button" value="Search" onClick="gotoTeamProfile(document.getElementById('team').value)">
    <input type="hidden" id="display" name="display" value="teamprofile">
</form>
<h2>Average Scores</h2>
<p id="overall">Overall: {{.Overall}}</p>
<p id="auto">Auto: {{.Auto}}</p>
<p id="shooting">Shooting: {{.Shooting}}</p>
<p id="colorwheel">Color Wheel: {{.ColorWheel}}</p>
<p id="climbing">Climbing: {{.Climbing}}</p>
<p id="fouls">Fouls: {{.Fouls}}</p>
<h2>Match History</h2>
<select id="datasort" onChange="sortTeamMatchTable()">
<option value="Match">Match #</option>
<option value="Overall">Overall</option>
<option value="Auto">Teammates</option>
<option value="Shooting">Autonomous</option>
<option value="ColorWheel">Shooting</option>
<option value="Climbing">Color Wheel</option>
<option value="Fouls">Fouls</option>
</select>
<table id="teamdata">
    <tr>
        <th>Match #</th>
        <th>Overall Performance</th>
        <th>Teammates</th>
        <th>Opponents</th>
        <th>Autonomous</th>
        <th>Shooting</th>
        <th>Color Wheel</th>
        <th>Climb Status</th>
        <th>Balanced</th>
        <th>Fouls</th>
    </tr>
</table>
<h3>Graphs</h3>
<select id="graphselect" onChange="showGraph()">
<option value="Overall">Overall</option>
<option value="Auto">Auto</option>
<option value="Shooting">Shooting</option>
<option value="ColorWheel">Color Wheel</option>
<option value="Climbing">Climbing</option>
<option value="Fouls">Fouls</option>
</select>
<br>
<button onClick="showGraph()">Press Me if Graph Looks Strange</button>
<br>
<table cellpadding="0" cellspacing="0">
<tr>
    <td>
        <img id="graph" />
    </td>
</tr>
</table>
<br>
<h2>Pit Scout Data</h2>
<p id="cycletime">Cycle Time: {{.Cycle}}</p>
<p id="notes">{{.Notes}}</p>
<h2>Match Comments</h2>
<p id="matchcomments">{{.Comments}}</p>
<h2>Robot Image<h2>
<table id="robotimgs"></table>
{{end}}
<script src="js/loaddata.js"></script>
{{template "footer"}}