<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{if .Title}}<title>{{.Title}}</title>{{else}}<title>Epic Scouting</title>{{end}}
<link rel="shortcut icon" type="image/x-icon" href="../media/favicon.ico">
<link rel="stylesheet" type="text/css" href="../css/global.css">
{{/* TODO: Fix adding stylesheets: {{range .StyleSheets}}<link rel="stylesheet" type="text/css" href="../css/{{.}}.css"}{{end}}*/}}
</head>
<body>