{{template "header" .HeaderData}}
<h1>Help</h1>
<h2>FAQ</h2>
<h3>How do I Foo?</h3>
<p>Good question.</p>
<h3>What do I do if Bar?</h4>
<p>No idea.</p>
<h3>All your database?</h3>
<p>Are belong to us.</p>
<h2>API Documentation</h2>
<p>Click <a href="/API">here</a> to view the current API documentation.</p>
<h2>Submit feedback</h2>
{{/* TODO */}}
<p><i><a href="mailto:admin@example.com?Subject=Scouting%20System%20feedback" target="_top">Send email</a></i></p>
{{template "footer"}}