{{template "header" .HeaderData}}
<script>
function toggleVisibility() {
  var p = document.getElementByName("password");
  if (p.type === "password") {
    p.type = "text";
  } else {
    p.type = "password";
  }
}
</script>

<h1>Login</h1>
<form action="/loginPOST" method="post">
{{if not .loggedIn}}<p><em>The username or password you have entered was incorrect. Please try again.</em></p>{{end}}
<p>Username: <input type="text" name="username"></p><br>
<p>Password: <input type="password" name="password"> <input type="checkbox" onclick="toggleVisibility()"></p>
<input type="submit" value="Login">
</form>
{{template "footer"}}