{{ template "header" }}
<script>
function toggleVisibility() {
  var p = document.getElementById("Password");
  if (p.type === "password") {
    p.type = "text";
  } else {
    p.type = "password";
  }
}
</script>

<p>Login...</p>
<form action="/loginPOST" method="post">
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password"> <input type="checkbox" onclick="toggleVisibility()">
<input type="submit" value="Login">
</form>
{{ template "footer" }}