{{ template "header" }}

<script>
function toggleVisibility() {
  var p = document.getElementById("Password");
  if (p.type === "password") {
    p.type = "text";
  } else {
    p.type = "password";
  }
}
</script>

<p>Login...</p>
<form action="/login" method="post">
Username: <input type="text" id="username"><br>
Password: <input type="password" id="password"> <input type="checkbox" onclick="toggleVisibility()">
<input type="submit" value="Login">
</form>
{{ template "footer" }}