{{ template "header" }}
<p>Enter pit data now!</p>
<form action="post">
<input type="file" name="robotimage" value="robotimage" id="robotimage"><br>
<input type="submit" value="submit">
</form>
{{ template "footer" }}