{{template "header" .HeaderData}}
<h1>{{.title}}</h1>
<p>Update profile...</p>
<p>THIS FEATURE IS CURRENTLY NOT AVAILABLE</p>
<form action="/profilePOST" method="post">
<p>Username: {{.Username}}<input type="text" name="username" disabled>*</p><br>
<p>Password: <input type="password" name="password" disabled>*</p>
<p>Email: {{.Email}}<input type="text" name="email" disabled></p><br>
<p>First Name: {{.FirstName}}<input type="text" name="firstname" disabled></p><br>
<p>Last Name: {{.LastName}}<input type="text" name="lastname" disabled></p><br>
<p><i>Fields marked with an * are mandatory.</i></p>
<input type="submit" value="Update" disabled>
</form>
<p><i>If you ever need it, your user ID is <span class="code">{{.UserID}}</span>.</i></p>
{{template "footer"}}